body {
  font-family: Arial,sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
  width: 250px;
}

#display {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #222;
  color: #fff;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}


.btn {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  padding: 20px 0;
  border: none;
  border-radius: 10px;
  background-color: #e0e0e0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;  
}


.btn.operator {
    background: #f39c12;
    color: #fff
}

.btn.equal {
    grid-column: span 4;
    background: #2ecc71;
    color: #fff
}

body {
  font-family: Arial,sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
  width: 250px;
}

#display {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #222;
  color: #fff;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}


.btn {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  padding: 20px 0;
  border: none;
  border-radius: 10px;
  background-color: #e0e0e0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;  
}


.btn.operator {
    background: #f39c12;
    color: #fff
}

.btn.equal {
    grid-column: span 4;
    background: #2ecc71;
    color: #fff
}

